<div class="contact-us">
    <div class="map-container">
        <!-- Replace with your actual map iframe or embed code -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.408161433091!2d80.20289227321172!3d13.073298712644256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5266a1bf84563b%3A0xae1c196d914271a6!2sERO%20Enterprises!5e0!3m2!1sen!2sin!4v1722409162695!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        width="400" height="300" style="border:0;" referrerpolicy="no-referrer-when-downgrade" >
    </div>
    <h1>Contact Us</h1>
    <div class="contact-info">
      <h2>Location<img src="assets/social media icons/Location-icon.png" alt="Loc Logo" class="logo-container"></h2>
      <p>
        ERO ENTERPRISES (Modular Kitchens & Interior Designers)<br>
        No : 32/108, Pillaiyar Koil Street,<br>
        Arumbakkam,<br>
        Chennai - 600 106
      </p>
      <h2>Contact Details</h2>
      <p>
        D. SIVA SANKAR<br>
        <img src="assets/social media icons/call-icon.png" alt="call Logo" class="call-container"><a href="tel:+919962526199">99625 26199</a> | 
        <a href="tel:+919962571906">99625 71906</a> | 
        <a href="tel:+919962571907">99625 71907</a><br>
        
          Email: <a href="mailto:EroDoors&#64;Gmail.Com">EroDoors&#64;Gmail.Com</a><br>
        
        Web: <a href="https://www.EroEnterprises.in" target="_blank">Www.EroEnterprises.in</a>
      </p>
    </div>
</div>
