  
<div class="about-us">
    <h1>About Us</h1>
    <p>
      ERO Enterprises is one of the leading suppliers of PVC Doors and attractive Interior Design modules to Customers for more than a decade. We have the full capacity to serve our Customers in most major cities of Tamilnadu. Our raw materials come from reputed vendors which are the testimony for our Quality.
    </p>
    <p>
      ERO Enterprises is committed to its customers in providing the best designs, high quality manufacturing, and flawless installation of PVC Doors and complete interiors.
    </p>
    <p>
      At ERO Enterprises, we develop attractive Kitchen Cabinets, Pooja Shelves, Hall Showcases, and Bedroom Wardrobes. Our Products provide a longer life by avoiding expansion, shrinkage, warping, etc. Our finished products would be in a natural look, stained and laminated with a superior finish.
    </p>
  
    <div class="vision-mission">
      <div class="vision">
        <h2>Vision</h2>
        <p>
          At Ero Enterprises, we aspire to construct a modern India with revolutionary construction and design concepts. Be it your house or office, we’ve got premium quality material for all.
        </p>
      </div>
      <div class="mission">
        <h2>Mission</h2>
        <p>
          At Ero Enterprises, we always strive to provide the best value for money to our customers encompassed with top quality services through professional competency. We aim to make our customers an integral part of the larger Ero Enterprises family.
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="tm-flex">
                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                    <h2 class="tm-text-title">POLYWOOD PRODUCTS</h2>
                    <p class="tm-text">We are one of the leading Sellers of PVC profiles coming from the India's leading brand - POLYWOOD. <br>In the last 18 years , “Polywood” has been an undeniable part of the “Save Trees” campaign by bringing in the
                        minds of people to use PVC Profiles.</p>
                </div>
                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                    <h2 class="tm-text-title">ERO PRODUCTS</h2>
                    <p class="tm-text">Apart from Polywood PVC Profiles, We also manufacture our own quality and indigneous PVC profiles and selling them under the brand - ERO Enterprises.</p>
                </div>
                <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                    <h2 class="tm-text-title">ACCESSORIES</h2>
                    <p class="tm-text">At Ero Enterprises, We know the importance of tiny accessories involved in Interior Design Works and this drived us to cater the accessories needs of our Customers to finish their work without any delay.</p>
                </div>
            </div>
        </div>
    </div>
</div>
