<header class="app-header">
  <div class="logo-container">
    <img src="assets/EroLogo.png" alt="ERO Enterprises Logo">
    <span class="brand-name">ERO ENTERPRISES</span>
  </div>

  <nav>
    <a routerLink="/polywood-products">Polywood Products</a>
    <a routerLink="/ero-products">Ero Products</a>
    <a routerLink="/accessories">Accessories</a>
    <a routerLink="/about-us">About Us</a>
    <a routerLink="/gallery">Gallery</a>
    <a routerLink="/contact-us">Contact Us</a>
  </nav>


    <div class="bubble-container">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

</header>
