<div class="gallery">
    <h1><img src="assets/social media icons/gallery-icon.png" alt="gallery" class="gallery-container">Gallery</h1>
    <p>OUR CREATIVE WORKS</p>
    <p>Few Samples of our works....</p>
    <div class="image-container">
        <div id="g4mk" class="grid-item">
            <figure class="effect-bubba">
                <img src="assets/gallery/MODULAR KITCHEN 1.png" alt="Image" class="img-fluid">
                <figcaption>
                    <h2 class="tm-figure-title">MODULAR <span>KITCHENS</span></h2>
                    <a href="assets/gallery/MODULAR KITCHEN 1.png"></a>
                </figcaption>
            </figure>
        </div>
        <div id="g4ps" class="grid-item">
            <figure class="effect-bubba">
                <img src="assets/gallery/POOJA SHELF 1.png" alt="Image" class="img-fluid">
                <figcaption>
                    <h2 class="tm-figure-title">POOJA <span>SHELVES</span></h2>
                    <a href="img/INTERIORDESIGNS/PoojaShelves/853 x 853_SubImage/POOJA SHELF 1.png"></a>
                </figcaption>
            </figure>
        </div>
        <div id="g4hs" class="grid-item">
            <figure class="effect-bubba">
                <img src="assets/gallery/SHOWCASE 1.png" alt="Image" class="img-fluid">
                <figcaption>
                    <h2 class="tm-figure-title">SHOW <span>CASES</span></h2>
                    <a href="img/INTERIORDESIGNS/ShowCases/853 x 853_SubImage/SHOWCASE 1.PNG"></a>
                </figcaption>
            </figure>
        </div>
        <div id="g4bw" class="grid-item">
            <figure class="effect-bubba">
                <img src="assets/gallery/WARDROBE 1.PNG" alt="Image" class="img-fluid">
                <figcaption>
                    <h2 class="tm-figure-title"><span>WARDROBES</span></h2>
                    <a href="img/INTERIORDESIGNS/Wardrobes/853 x 853_SubImage/WARDROBE 1.png"></a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
