<div class="cd-full-width">
    <div class="container-fluid js-tm-page-content" data-page-no="3" data-page-type="gallery">
        <div class="tm-img-gallery-container">
            <div class="tm-img-gallery gallery-three">
                
<div class="tm-img-gallery-info-container">
    <h2 class="tm-text-title tm-gallery-title"><span class="tm-white">ACCESSORIES</span></h2>
    <p class="tm-text"><span class="tm-white"></span>
    </p>
</div>
<!-- FITTINGS -->
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/3.5x19 DRY WALL SCREWS.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DRYWALL <span>SCREWS</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/3.5x25 DRYWALL SCREWS.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DRYWALL <span>SCREWS</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/35x10 WOODEN SCREWS.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">WOODEN <span>SCREWS</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/60x10 WOODEN SCREWS.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">WOODEN <span>SCREWS</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/75x10 WOODEN SCREWS.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">WOODEN <span>SCREWS</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/ANABOND.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title"> <span>ANABOND</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/BLACK HEAL 6 Ft.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">BLACK HEAL <span>6 FEET</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/BLACK HEAL 7 Ft.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">BLACK HEAL <span>7 FEET</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/BUTT HINGES.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">BUTT <span>HINGES</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/D SS HANDLE TYPE 1.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DSS HANDLE <span>TYPE 1</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/D SS HANDLE TYPE 2.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DSS HANDLE <span>TYPE 2</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/DOOR CATCHER.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DOOR <span>CATCHER</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/FASTENING SYSTEM.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">FASTENING <span>SYSTEM</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/POWDER COATING HEAL 7 Ft.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">POWDER COATING HEAL <span>7 FEET</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/POWDER COATING HEAL.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">POWDER COATING <span>HEAL</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/POWDERCOATING HEAL 6 Ft.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">POWDER COATING HEAL <span>6 FEET</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PVC TOWER BOLT.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PVC TOWER <span>BOLT</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/SHEET WOOD 5.5.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">SHEETWOOD <span>5.5</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/SS HEAL 6 Ft.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">SS HEAL <span>6 FEET</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/SS HEAL 7 Ft.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">SS HEAL <span>7 FEET</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/TEAK WOOD 1.5.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">TEAKWOOD <span>1.5</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<!-- HANDLES -->
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/6 LINE HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">6 LINE <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/10mm RADO HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">10 MM RADO <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/12mm RADO HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">12 MM RADO <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/16mm D HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">16 MM D <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/BOAT HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">BOAT <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/CADBURY D HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">CADBURY D <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/CAPSULE-D HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">CAPSULE-D <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/CDBURY BOAR HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">CDBURY BOAR <span>1.5</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/C-DOT HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">C-DOT <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/D-DOT HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">D-DOT <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/H HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">H <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/H-DOT HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">H-DOT <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/OVAL-C HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">OVAL-C <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/OVAL-D HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">OVAL-D <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/OVAL-H HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">OVAL-H <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/OVEL H.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">OVEL <span>H</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>
<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/RAJWADI-D HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">RAJWADI D <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<div class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/S HANDLE.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">S <span>HANDLE</span></h2>
            <p class="tm-figure-description"></p>

        </figcaption>
    </figure>
</div>

<!-- KITCHEN BASKETS -->

<div id="g3kbdpo" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/DOUBLE PULL OUT.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DOUBLE <span>PULL OUT</span></h2>
            <p class="tm-figure-description"></p>
            <a href="assets/ACCESSORIES/DOUBLE PULL OUT.png"> </a>
        </figcaption>
    </figure>
</div>
<div id="g3kbfpgb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/FULL PERFORATED CUTLERY BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">FULL PERFORATED GLASS <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/FULL PERFORATED CUTLERY BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbfppb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/FULL PERFORATED PLATE BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">FULL PERFORATED PLATE <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/FULL PERFORATED PLATE BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbfr" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/FULL ROUND.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">FULL <span>ROUND</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/FULL ROUND.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbgb1" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/GLASS BASKET I.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">GLASS <span>BASKET I</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/GLASS BASKET I.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbgb2" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/GLASS BASKET II.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">GLASS <span>BASKET II</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/GLASS BASKET II.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpcb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PERFORATED CUTLERY BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PERFORATED CUTLERY <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PERFORATED CUTLERY BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpgb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PERFORATED GLASS BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PERFORATED GLASS <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PERFORATED GLASS BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbppb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PERFORATED PLAIN BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PERFORATED PLAIN <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PERFORATED PLAIN BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpr" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PERFUME RACK.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PERFURMES <span>RACK</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PERFUME RACK.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpb1" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PLAIN BASKET 1.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PLAIN <span>BASKET I</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PLAIN BASKET 1.png"> </a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpb2" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PLAIN BASKET II.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PLAIN <span>BASKET II</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PLAIN BASKET II.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PLATE BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PLATE <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PLATE BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbpbcb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/PREMIUM BOX CUTLERY BASKET.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">PREMIUM BOX CUTLERY <span>BASKET</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/PREMIUM BOX CUTLERY BASKET.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbtc" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/TRIPLE CORNER.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">TRIPLE <span>CORNER</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/TRIPLE CORNER.png"></a>
        </figcaption>
    </figure>
</div>
<div id="g3kbdb" class="grid-item">
    <figure class="effect-bubba">
        <img src="assets/ACCESSORIES/DUST BIN.png" alt="Image" class="img-fluid tm-img">
        <figcaption>
            <h2 class="tm-figure-title">DUST <span>BIN</span></h2>
            <p class="tm-figure-description"></p>
            <a href="img/ACCESSORIES/EroKitchenBaskets/853 x 853_SubImage/DUST BIN.png"></a>
        </figcaption>
    </figure>
</div>