
<li>
    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="2" data-page-type="gallery">
            <div class="tm-img-gallery-container">
                <div class="tm-img-gallery gallery-two">
                    <!-- Gallery Two pop up connected with JS code below -->
                    <div class="ero-catalogue">
                        <h1>ERO'S CATALOGUE</h1>
                            <p>At Ero Enterprises, We manufacture our own indigneous superior quality PVC profiles to cater the needs of different sections of the society</p>
                    
                        </div>


                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME WHITE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>WHITE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/ERO FLAME WHITE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME WHITE</div>
                    </div>
                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME GREEN_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>GREEN</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/ERO FLAME GREEN_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME GREEN</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME RED_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>RED</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/ERO FLAME RED_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME RED</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME ORANGE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>ORANGE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/ERO FLAME ORANGE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME ORANGE</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME PURPLE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>PURPLE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/EroFlamePurple/ERO FLAME PURPLE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME PURPLE</div>
                    </div>
                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME BLACK_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>BLACK</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/ERO FLAME BLACK_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME BLACK</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO FLAME DARKBLUE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO FLAME <span>DARK BLUE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroFlame/ERO FLAME DARKBLUE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME DARKBLUE</div>
                    </div>
                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO MAXX HEAVY 30MM SANDAL_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO MAXX 30 MM <span>HEAVY SANDAL</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroMaxx30mmHeavy/ERO MAXX HEAVY 30MM SANDAL_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME HEAVY SANDAL</div>
                    </div>

                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO MAXX 30MM HEAVY WALNUT_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO MAXX 30 MM <span>HEAVY WALNUT</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroMaxx30mmHeavy/ERO MAXX HEAVY 30MM WALNUT_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO HEAVY WALNUT</div>
                    </div>
                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO MAXX HEAVY 3OMM ROYAL WOOD_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO MAXX 30 MM <span>HEAVY ROYALWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroMaxx30mmHeavy/ERO MAXX HEAVY 30MM ROYALWOOD_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME HEAVY ROYALWOOD</div>
                    </div>

                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PREMIUM MAT RUBBERWOOD_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PREMIUM MAT <span>RUBBERWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPremiumMat/"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME RUBBERWOOD</div>
                    </div>

                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PREMIUM COFFE WOOD MAT_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PREMIUM MAT <span>COFFEEWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPremiumMat/EroPremiumMatCoffeeWood/ERO PREMIUM COFFE WOOD MAT_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME COFFEEWOOD</div>
                    </div>

                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PREMIUM MAPPLE WOOD MAT_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PREMIUM MAT <span>MAPPLEWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPremiumMat/EroPremiumMatMappleWood/ERO PREMIUM MAPPLE WOOD MAT_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME MAPPLEWOOD</div>
                    </div>

                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PREMIUM MAT SANDAL_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PREMIUM MAT <span>SANDAL</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPremiumMat/EroPremiumMatSandal/ERO PREMIUM MAT SANDAL_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME SANDAL</div>
                    </div>

                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO SUPREME REGULAR RUBBERWOOD_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO SUPREME (REGULAR) <span>RUBBERWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroSupremeHeavy_Regular/ERO SUPREME REGULAR RUBBERWOOD_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME RUBBERWOOD</div>
                    </div>

                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO SUPREME REGULAR COFFEE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO SUPREME (HEAVY & REGULAR) <span>COFFEEWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroSupremeHeavy_Regular/EroSupremeCoffee/ERO SUPREME REGULAR COFFEE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME COFFEEWOOD</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO SUPREME REGULAR FOSSIL_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO SUPREME (HEAVY & REGULAR) <span>FOSSIL</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroSupremeHeavy_Regular/EroSupremeFossil/ERO SUPREME REGULAR FOSSIL_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FOSSIL</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO SUPREME REGULAR MAPPLE WOOD_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO SUPREME (HEAVY & REGULAR) <span>MAPPLEWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroSupremeHeavy_Regular/EroSupremeMapplewood/ERO SUPREME REGULAR  MAPPLE WOOD_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME MAPPLEWOOD</div>
                    </div>
                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO SUPREME REGULAR SANDAL_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO SUPREME (HEAVY & REGULAR) <span>SANDAL</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroSupremeHeavy_Regular/EroSupremeSandal/ERO SUPREME REGULAR SANDAL_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME SANDAL</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO SUPREME REGULAR ROYAL WOOD_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO SUPREME (HEAVY & REGULAR) <span>ROYALWOOD</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroSupremeHeavy_Regular/EroSupremRoyalwood/ERO SUPREME REGULAR ROYAL WOOD_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME ROYALWOOD</div>
                    </div>


                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PLAIN FLASH GREEN_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH GREEN</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashGreen/ERO PLAIN FLASH GREEN_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH GREEN</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO  PLAIN  FLASH ORANGE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH ORANGE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashOrange/ERO  PLAIN  FLASH ORANGE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH ORANGE</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PLAIN FLASH PURPLE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH PURPLE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashPurple/ERO PLAIN FLASH PURPLE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH PURPLE</div>
                    </div>

                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PLAIN  FLASH  RED_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH RED</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashRed/ERO PLAIN FLASH  RED_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH RED</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO  PLAIN FLASH WHITE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH WHITE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashWhite/ERO PLAIN FLASH  WHITE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH WHITE</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PLAIN FLASH SKYBLUE_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH SKYBLUE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashSkyblue/ERO  PLAIN FLASH SKY BLUE_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH SKYBLUE</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PLAIN FLASH BLACK_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PLAIN <span>FLASH BLACK</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPlainFlash/EroPlainFlashBlack/ERO PLAIN FLASH BLACK_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME FLASH BLACK</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO DesignDoors_MainImage.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO DESIGN <span>DOORS</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroDesignDoors/ERO DesignDoors_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME DOORS</div>
                    </div>
                    <div class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PICTURE DOOR1_MainImage 1.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PICTURE <span>DOORS ONE</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPictureDoors/PictureDoor1/ERO PICTURE DOOR1_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME DOORS ONE</div>
                    </div>
                    <div  class="grid-item">
                        <figure class="effect-bubba">
                            <img src="assets/img/ERO PICTURE DOOR2_MainImage 1.png" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                <h2 class="tm-figure-title">ERO PICTURE <span>DOORS TWO</span></h2>
                                <p class="tm-figure-description"></p>
                                <a href="img/ERO/EroPictureDoors/PictureDoor2/ERO PICTURE DOOR2_SubImage 1.png"></a>
                            </figcaption>
                        </figure>
                        <div class="static-title">ERO FLAME DOORS TWO</div>
<li>